.container-fluid

  .card.mt-3
    .card-header Featured
    .card-body
      h5(class="card-title") Special title treatment
      p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cum qui ratione quis neque ut. Ab, numquam neque! Eveniet labore distinctio alias aut, dicta cum ea suscipit deleniti quos quisquam! Corporis, quisquam. Libero non nisi reprehenderit nesciunt, esse voluptates commodi cum possimus! Nobis facere quo magni sequi culpa quasi eveniet.
      p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cum qui ratione quis neque ut. Ab, numquam neque! Eveniet labore distinctio alias aut, dicta cum ea suscipit deleniti quos quisquam! Corporis, quisquam. Libero non nisi reprehenderit nesciunt, esse voluptates commodi cum possimus! Nobis facere quo magni sequi culpa quasi eveniet.
      
  .card.mt-3
    .card-header Featured
    .card-body
      h5(class="card-title") Special title treatment
      p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cum qui ratione quis neque ut. Ab, numquam neque! Eveniet labore distinctio alias aut, dicta cum ea suscipit deleniti quos quisquam! Corporis, quisquam. Libero non nisi reprehenderit nesciunt, esse voluptates commodi cum possimus! Nobis facere quo magni sequi culpa quasi eveniet.
      p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cum qui ratione quis neque ut. Ab, numquam neque! Eveniet labore distinctio alias aut, dicta cum ea suscipit deleniti quos quisquam! Corporis, quisquam. Libero non nisi reprehenderit nesciunt, esse voluptates commodi cum possimus! Nobis facere quo magni sequi culpa quasi eveniet.
      
  .card.mt-3
    .card-header Featured
    .card-body
      h5(class="card-title") Special title treatment
      p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cum qui ratione quis neque ut. Ab, numquam neque! Eveniet labore distinctio alias aut, dicta cum ea suscipit deleniti quos quisquam! Corporis, quisquam. Libero non nisi reprehenderit nesciunt, esse voluptates commodi cum possimus! Nobis facere quo magni sequi culpa quasi eveniet.
      p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cum qui ratione quis neque ut. Ab, numquam neque! Eveniet labore distinctio alias aut, dicta cum ea suscipit deleniti quos quisquam! Corporis, quisquam. Libero non nisi reprehenderit nesciunt, esse voluptates commodi cum possimus! Nobis facere quo magni sequi culpa quasi eveniet.
      
  .card.mt-3
    .card-header Featured
    .card-body
      h5(class="card-title") Special title treatment
      p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cum qui ratione quis neque ut. Ab, numquam neque! Eveniet labore distinctio alias aut, dicta cum ea suscipit deleniti quos quisquam! Corporis, quisquam. Libero non nisi reprehenderit nesciunt, esse voluptates commodi cum possimus! Nobis facere quo magni sequi culpa quasi eveniet.
      p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cum qui ratione quis neque ut. Ab, numquam neque! Eveniet labore distinctio alias aut, dicta cum ea suscipit deleniti quos quisquam! Corporis, quisquam. Libero non nisi reprehenderit nesciunt, esse voluptates commodi cum possimus! Nobis facere quo magni sequi culpa quasi eveniet.
      
  .card.mt-3
    .card-header Featured
    .card-body
      h5(class="card-title") Special title treatment
      p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cum qui ratione quis neque ut. Ab, numquam neque! Eveniet labore distinctio alias aut, dicta cum ea suscipit deleniti quos quisquam! Corporis, quisquam. Libero non nisi reprehenderit nesciunt, esse voluptates commodi cum possimus! Nobis facere quo magni sequi culpa quasi eveniet.
      p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cum qui ratione quis neque ut. Ab, numquam neque! Eveniet labore distinctio alias aut, dicta cum ea suscipit deleniti quos quisquam! Corporis, quisquam. Libero non nisi reprehenderit nesciunt, esse voluptates commodi cum possimus! Nobis facere quo magni sequi culpa quasi eveniet.
      
  .card.mt-3
    .card-header Featured
    .card-body
      h5(class="card-title") Special title treatment
      p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cum qui ratione quis neque ut. Ab, numquam neque! Eveniet labore distinctio alias aut, dicta cum ea suscipit deleniti quos quisquam! Corporis, quisquam. Libero non nisi reprehenderit nesciunt, esse voluptates commodi cum possimus! Nobis facere quo magni sequi culpa quasi eveniet.
      p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cum qui ratione quis neque ut. Ab, numquam neque! Eveniet labore distinctio alias aut, dicta cum ea suscipit deleniti quos quisquam! Corporis, quisquam. Libero non nisi reprehenderit nesciunt, esse voluptates commodi cum possimus! Nobis facere quo magni sequi culpa quasi eveniet.
      
  .card.mt-3
    .card-header Featured
    .card-body
      h5(class="card-title") Special title treatment
      p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cum qui ratione quis neque ut. Ab, numquam neque! Eveniet labore distinctio alias aut, dicta cum ea suscipit deleniti quos quisquam! Corporis, quisquam. Libero non nisi reprehenderit nesciunt, esse voluptates commodi cum possimus! Nobis facere quo magni sequi culpa quasi eveniet.
      p(class="card-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cum qui ratione quis neque ut. Ab, numquam neque! Eveniet labore distinctio alias aut, dicta cum ea suscipit deleniti quos quisquam! Corporis, quisquam. Libero non nisi reprehenderit nesciunt, esse voluptates commodi cum possimus! Nobis facere quo magni sequi culpa quasi eveniet.
