.wrapper
  nav(class="navbar navbar-dark bg-dark navbar-expand-el")

    a(class="navbar-brand d-inline-flex align-items-center" href="#")
      img(src="./images/logo-bootstrap.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy")
      span.ml-2 LOGO

    form.form-inline.ml-auto.mr-auto.d-none.d-sm-block
      .input-group
        input(class="form-control" type="search" placeholder="Search" aria-label="Search")
        .input-group-append
          button(class="btn btn-outline-secondary" type="submit") Search

    button(class="navbar-toggler d-block" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false")
      span.navbar-toggler-icon

    div(class="collapse navbar-collapse d-el-none" id="navbarNav")
      ul(class="navbar-nav")
        li.nav-item
          form.form-inline.ml-auto.mr-auto.d-sm-none.mt-4
            .input-group
              input(class="form-control" type="search" placeholder="Search" aria-label="Search")
              .input-group-append
                button(class="btn btn-outline-secondary" type="submit") Search
        li.nav-item
          a.nav-link(href="#") Categories
        li.nav-item
          a.nav-link(href="#") Contact Us
        li.nav-item
          a.nav-link(href="#") Opening Times
        li.nav-item
          a.nav-link(href="#") Top Offers
        li.nav-item
          a.nav-link(href="#") Sign In    
  
  include ../demo-content/demo-content
